
.userList {
	resize: none;
	height:50vh; 
	width:10vw; 
	background-color:#E6E6E6; 
	position: absolute;
	top: 20vh;
	left: 40vw;
}

.chatHistory {
	resize: none;
	height:50vh; 
	width:32vw; 
	background-color:#E6E6E6; 
	position: absolute;
	top: 20vh;
	left: 55vw;
}

.message {
	height: 10vh;
	width: 25vw;
	position: absolute;
	top: 75vh;
	left: 55vw;
}

.sendButton {
	position: absolute;
	top: 75vh;
	left: 84.4vw;
}

.leaveButton {
	position: absolute;
	top: 11vh;
	left: 84.1vw;
}

.userNameBar {
	height: 10vh;
	width: 12vw;
	position: absolute;
	top: 55vh;
	left: 38vw;
}

.joinButton {
	position: absolute;
	top: 55vh;
	left: 58vw;
}


.welcome {
	position: absolute;
	top: 35vh;
	left: 36.5vw;
	width: 30vw;
	font-size: 5vh;
	color: rgb(147, 255, 46);
	font-weight: bold;
}

.channelState {
	height:200px; 
	width:200px; 
	background-color:#E6E6E6; 
	position: absolute;
	top: 15%;
	left:30%;
}

.updateButton {
	position: absolute;
	top: 25%;
	left:45%;
}

.img {
	size: 100px, 100px;
}